autopep8
Django==4.0
django-cors-headers
django-celery-email
djangorestframework
djangorestframework-simplejwt
django-utils-six
django-rest-authemail
djoser
gunicorn
python-memcached==1.59
pylint
psycopg2-binary
pytest
pytest-django
python-dotenv
requests
six
whitenoise