autopep8
Django==4.0
django-cors-headers
django-celery-email
djangorestframework
djangorestframework-simplejwt
django-utils-six
django-rest-authemail
django-bmemcached==0.2.4
gunicorn
pylint
psycopg2-binary
pytest
pytest-django
python-dotenv
python-binary-memcached==0.28.0
requests
six
whitenoise