autopep8
autoflake
black
Django==4.0
django-cors-headers
django-celery-email
django-utils-six
djangorestframework
djangorestframework-simplejwt
django-rest-authemail
flake8
gunicorn
isort
python-memcached==1.59
pylint
psycopg2-binary
pytest
pytest-django
python-dotenv
requests
six
whitenoise