autopep8
autoflake
black
Django==4.0
django-cors-headers
django-celery-email
django-utils-six
djangorestframework
djangorestframework-simplejwt
django-rest-authemail
django_bmemcached
flake8
gunicorn
isort
python-memcached==1.59
pylint
psycopg2-binary
pytest
pytest-django
python-dotenv
pytest-benchmark
requests
six
whitenoise